/* Contact page styles - doubled font size for contact information */
.alert-primary .col-4.text-center p {
    font-size: 2em;
    line-height: 1.5;
}

.alert-primary .col-4.text-center a {
    font-size: 1em;
}
