@charset "utf-8";
.example-list{height:inherit;border-width:0 2px 0 0;border-radius:10px 0 0 10px;margin:0;padding:0}
.example h2{font-size:30px;line-height:30px;font-weight:700;margin-bottom:6px;margin-top:4px}
.example-list ul{margin:10px 2px 0 15px;text-shadow:0 1px rgba(0,0,0,0.66);margin-top:5px;font-weight:700;font-size:medium}
.example-demos{width:70px;padding:5px}
.examples{margin-left:10px}
.examplesAnimation{width:96%;margin:-4px}
.info h1{margin:0}
.examples2{margin-left:50px}
.example-four-box{padding:0;margin:0;width:915px;margin-top:16px;height:auto}
#example-four-box{padding:0;margin:0;width:915px;margin-top:16px;height:auto}
.exampleslayout{margin-left:30px}
.example-box{float:left;margin:0 15px!important;min-height:193px}
.exampleboxtext{width:inherit;height:30px!important;text-align:center;margin-top:4px;font-size:14px}
.exampleboxtext a{text-shadow:0 1px 1px rgba(0,0,0,0.6);color:rgba(0,0,0,1.00);text-decoration:none;text-align:center;font-weight:bolder}
.exampleboxtext a:hover, #exampleboxtext a:hover{text-shadow:0px 0px 1px rgba(0,0,0,0.7)}
#exampleboxtext{padding:2px;text-align:center;color:#000;margin-bottom:13px;font-size:15px;width:100%}
#exampleboxtext a{color:#000;font-size:80%;text-shadow:0 0 1px rgba(0,0,0,0.9);text-decoration:none;text-align:center;font-weight:bolder}
#exampleboxtextAnimation{padding:6px;text-align:center;color:#000;margin-bottom:13px;font-size:18px}
#exampleboxtextAnimation a{color:#000;text-shadow:0 1px 1px rgba(0,0,0,0.9);text-decoration:none;text-align:center;font-weight:bolder}
#exampleboxtextAnimation a:hover{text-shadow:1px 1px 0 rgba(0,0,1,0.7)}
.example-box-vp{width:300px;float:left;padding-top:11px;padding-left:5px;margin-right:5px;background:url(https://www.websitetalkingheads.com/newwebsite/images/exampleshadow2.png);background-repeat:no-repeat}
.shoulder-example-box{width:193px;float:left;padding:0;margin-right:10px;background:url(https://www.websitetalkingheads.com/shoulders/images/exampleshadow.jpg);background-repeat:no-repeat}
.shoulder-example-box a{opacity:1}
.shoulder-example-box a:hover{opacity:.9}
#shoulder-exampleboxtext{padding:2px;text-align:center;color:#000;font-size:90%;margin-bottom:12px}
#shoulder-exampleboxtext a{color:#000;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.7)}
#shoulder-exampleboxtext a:hover{text-shadow:1px 1px 0 rgba(0,0,0,0.4)}
.examples-shoulders{margin-left:110px}
.vp-example-box{width:218px;float:left;padding-left:4px;margin-right:4px;background:url(https://www.websitetalkingheads.com/images/vpexampleshadow.png);background-repeat:no-repeat}
.vp-example-box a{opacity:1}
.vp-example-box a:hover{opacity:.9}
#vp-exampleboxtext{padding:2px;text-align:center;color:#000;font-size:90%;margin-bottom:12px}
#vp-exampleboxtext a{color:#000;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.7)}
#vp-exampleboxtext a:hover{text-shadow:1px 1px 0 rgba(0,0,0,0.4)}
.exampleArea{width:98%;height:auto;padding:0;margin:0 auto;margin-top:10px;border-color:#6DABF5;border-style:solid;border-radius:10px}
.examplesShort{width:680px;float:left;margin-left:5px;margin-right:5px}
.exampleText{float:left;width:310px;height:280px;background-repeat:no-repeat;margin:0 5px 5px;padding:8px 0 12px 14px;overflow:hidden}
#exampleTextTitle{font-size:105%;font-weight:700;text-shadow:0 0 1px #000;color:#0E84B6;text-align:center;margin-left:-10px}
.exampleText ul#backgroundImage{padding:0 0 1em 1em;font-weight:700;text-shadow:0 0 1px #000}
.exampleTitle{position:inherit;font-weight:700;font-size:48px;text-align:center;margin:0;padding-bottom:16px;margin-top:-20px;margin:0;text-shadow:1px 1px 1px rgba(0,0,0,0.6);color:#0073ff}
.exampleTitle a{color:#0073FF}
.exampleTitle a:hover{text-shadow:0 0 1px rgba(0,0,0,0.6)}
.new-example-box{float:left;padding-left:4px;padding-top:3px;padding-right:4px;width:33%}
.new-example-box a{opacity:1}
.new-example-box a:hover{opacity:.9}
.new-example-box img, .example-box img{width:100%;-webkit-box-shadow:0 3px 2px rgba(0,0,0,0.69);box-shadow:0 3px 2px rgba(0,0,0,0.69)}
#new-exampleboxtext{padding:2px;text-align:center;color:#000;font-size:16px;margin-bottom:8px;height:42px}
#new-exampleboxtext a{color:#000;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.7)}
#new-exampleboxtext a:hover{text-shadow:1px 1px 0 rgba(0,0,0,0.4)}
.vpbanner{padding-top:10px;margin:0 auto}
.vpbanner-left{width:210px;float:left}
#vpbanner-right{width:220px;float:right;padding-top:5px}
.vpbanner-center{width:480px;float:left;padding:0}
.vpbanner-center ol{margin-left:20px;margin-top:5px}
.vpbanner-center li{font-size:20px;font-weight:700;color:#0073ff;text-shadow:0 0 1px rgba(0,0,0,0.7)}
.exampleSpacer{height:10px}
.containerExampleInner{width:1030px;background:#FFF;margin:0 auto;text-align:left;background-color:#FFF;color:#000;font-size:100%;font-family:Verdana,Arial,Helvetica,sans-serif}
.containerExampleTop{width:915px;align-content:center;margin-left:60px}
.clearSpace{clear:both;height:16px;margin:0;padding:0;border-top-style:solid;border-top-width:2px;border-top-color:#117FB0}
.exampleFooter{text-align:right;font-size:100%;padding-right:10px;padding-bottom:5px}
.exampleFooter a{text-align:right;font-size:18px;color:#6DABF5;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,0.9)}
.exampleFooter a:hover{text-shadow:0 0 1px rgba(0,0,0,0.8)}
.powerpunch{text-align:center;margin:0;padding:0;font-family:Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif}
#powerpunchsales{font-weight:bolder;color:orange;font-size:220%;margin:0;padding:0;text-shadow:0 1px 1px rgba(0,32,90,0.60)}
#catch-phrase{font-weight:bolder;color:#e28e11;font-size:160%;margin:0;padding:0;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
#powerpunchseo{color:#00a3ff;font-weight:700;font-size:18px;margin:0;padding:0;text-shadow:0 1px 0 rgba(0,0,0,0.6)}
.centerExample{margin-left:250px}
.special-example-box{width:416px;float:left;padding-left:4px;margin-right:4px}
.special-example-box img{-webkit-box-shadow:0 4px 2px rgba(0,0,0,0.5);box-shadow:0 4px 2px rgba(0,0,0,0.5)}
.special-example-box a{opacity:1}
.special-example-box a:hover{opacity:.9}
#special-exampleboxtext{padding:2px;text-align:center;color:#000;font-size:110%;margin-bottom:12px}
#special-exampleboxtext a{color:#000;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.7)}
#special-exampleboxtext a:hover{text-shadow:0 1px 1px rgba(0,0,0,0.4)}
.gloves{float:right;width:460px}
.powerPunch{float:left;width:460px}
.vp h1{position:inherit;font-weight:700;font-size:290%;text-align:center;margin:0;margin-top:-20px;margin:0;text-shadow:1px 1px 1px rgba(0,0,0,0.6);color:#FFA319;padding:0;margin-top:10px;margin-right:10px;margin-left:10px;margin-bottom:10px}
.vp h1 a{color:#FFA319;padding:0;margin:0}
.vp h2{font-size:32px;font-weight:bolder;color:#0073FF;margin:0;padding:0;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
.vp h3{color:orange;font-weight:bolder;text-shadow:0 1px 0 rgba(0,0,0,0.9);text-align:center;margin:5px}
.vp h4{font-size:32px;color:#1981FF;font-weight:bolder;text-shadow:0 1px 0 rgba(0,0,0,0.6);text-align:center;margin:0;padding:0}
.vp h5{color:#0093FF;font-weight:700;text-shadow:0 1px 0 rgba(0,0,0,0.6);text-align:center;margin:0;padding:0}
.vp h6{color:orange;font-size:64px;font-weight:bolder;text-shadow:1px 2px 1px rgba(0,0,0,0.7);text-align:center;padding:0}
.vp ol{padding-top:10px;padding-left:30px;font-size:18px;font-weight:700}
#smallScript{color:#0073ff;font-weight:100;font-size:x-small;vertical-align:top;text-shadow:0 0 1px rgba(0,0,0,0.23);float:left}
.smallScript{color:#0073ff;font-weight:100;font-size:x-small;vertical-align:top;text-shadow:0 0 1px rgba(0,0,0,0.23);margin-left:calc(50% - 160px);padding-top:20px}
.medium-Script{color:#9acfea;font-size:medium;vertical-align:top;margin-left:calc(50% - 160px);padding-top:20px}
#orderButton{width:400px;height:80px;border:4px solid #0093FF;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px / 10px;background:#0093ff;background:-moz-radial-gradient(center,ellipse cover,rgba(0,147,255,1) 0%,rgba(0,103,178,1) 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,147,255,1)),color-stop(100%,rgba(0,103,178,1)));background:-webkit-radial-gradient(center,ellipse cover,rgba(0,147,255,1) 0%,rgba(0,103,178,1) 100%);background:-o-radial-gradient(center,ellipse cover,rgba(0,147,255,1) 0%,rgba(0,103,178,1) 100%);background:-ms-radial-gradient(center,ellipse cover,rgba(0,147,255,1) 0%,rgba(0,103,178,1) 100%);background:radial-gradient(ellipse at center,rgba(0,147,255,1) 0%,rgba(0,103,178,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0093ff',endColorstr='#0067b2',GradientType=1);-webkit-box-shadow:0 1px 2px 2px #000;box-shadow:0 2px 2px 2px rgba(0,0,0,0.6);margin:0 auto 10px;padding:10px}
#featuredactortop{text-align:center;margin:0;padding:0;color:#00F;width:100%;font-size:18px}
#SpecialTop{font-size:180%;color:#FF9100;text-align:center;text-shadow:1px 1px 0 rgba(0,0,0,0.6);margin:0;padding:0}
.featuredactor-special1 h2,.featuredactor-special2 h2{margin-bottom:10px}
#featuredactortop h2,.featuredactor-special1 h2,.featuredactor-special2 h2{font-weight:700;font-size:42px;text-shadow:3px 3px 2px rgba(0,0,0,0.8);color:#19ACFF}
#featuredactortop h3{font-weight:700;font-size:130%;margin:0;padding:0;text-shadow:1px 2px 1px rgba(0,0,0,0.8);color:#00A3FF}
#featuredactors{font-weight:700;font-size:200%;text-align:center;margin:0;padding:0;text-shadow:2px 2px 2px rgba(0,0,0,0.6);color:#00A3FF;left:311px;top:331px;width:96%}
#featuredactors2{font-weight:700;font-size:200%;text-align:center;padding:0;margin-top:25px;text-shadow:2px 2px 4px rgba(0,0,0,0.6);color:rgba(17,127,176,1);width:100%}
#featuredactorsleft{margin-left:130px;width:33%;top:780px;float:left}
#featuredactorsright{width:33%;top:780px;margin-left:590px}
.featured{width:100%;min-height:380px}
#featuredactors a:hover{color:rgba(17,200,225,1)}
#featuredactors a:active{color:rgba(17,127,176,0.7)}
#featuredactorcenter{height:330px;text-align:center;font-size:100%}
#scriptText{font-size:80%;font-weight:700}
#featuredactorcenter-left{float:left;width:50%;margin:0;padding:0;text-align:center}
#featuredactorcenter-right{float:right;width:50%;text-align:center}
#featuredactorcenter-ipad{height:340px;text-align:center}
#featuredtext{font-weight:700;font-size:180%;text-align:center;margin:0;padding:0;text-shadow:2px 2px 2px rgba(0,0,0,0.9);color:rgba(17,127,176,1)}
#featuredactorcenter-left-ipad{float:left;width:32%;margin:0;padding:0}
#featuredactorcenter-right-ipad{float:right;width:32%}
.featuredactor-special1,.featuredactor-special2{text-align:center;max-width:900px!important}
#container3 h2{font-weight:700;font-size:200%;margin:0;padding:0;text-shadow:3px 3px 2px rgba(0,0,0,0.8);color:#00A3FF}
.buyOne{width:218px;margin:0 auto}
.buyOne h3{margin:0;background-image:url(../images/priceButton.png);background-repeat:no-repeat;font-size:30px;font-weight:700;text-align:center;color:#fff;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,0.6);width:218px;height:100px;padding:4px 0 0 6px}
#priceTitle{font-size:42px;color:orange;text-shadow:0 1px 1px rgba(0,0,0,0.7);padding:0;margin:0}
.specialRow{width:720px;margin:0 auto;margin-top:20px}
.specialRow h3{margin-top:10px;margin-left:12px;background-image:url(../images/priceButton.png);background-repeat:no-repeat;font-size:24px;font-weight:700;text-align:center;color:#fff;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,0.6);width:218px;height:100px;float:left;padding:4px 0 0 6px}
#exampleLine{border-bottom-style:solid;border-bottom-color:#000;height:5px;width:90%;margin-left:3%;margin-bottom:5px;opacity:.5}
.specials{padding:5px;margin-left:35px}
.special{float:left;width:228px;height:100px;padding:0 25px 20px}
.specials h2{color:orange!important;font-size:220%!important;text-shadow:0 1px 1px rgba(0,0,0,0.6)!important}
.specials h3{color:#1981ff;font-size:260%!important;text-shadow:0 1px 1px rgba(0,0,0,0.6)!important;padding:0!important}
#banner{margin-bottom:10px;margin-left:62px;-webkit-box-shadow:4px 4px 3px rgba(0,0,0,0.71);box-shadow:0 3px 7px rgba(0,0,0,0.71);width:800px;height:200px}
.features{margin-top:10px;box-shadow:0 2px 3px rgba(0,0,0,0.73);background-color: rgba(119,210,241,0.49);border-radius: 20px;border: 3px solid #ffa500;}
.website-spokesperson-examples{padding:10px 0 10px 15px;max-width:915px}
.website-spokesperson-examples,.video-player{border:2px solid #1981FF;border-radius:10px;background:#f0f9ff;background:-moz-radial-gradient(center,ellipse cover,#f0f9ff 0%,#c6eaff 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#f0f9ff),color-stop(100%,#c6eaff));background:-webkit-radial-gradient(center,ellipse cover,#f0f9ff 0%,#c6eaff 100%);background:-o-radial-gradient(center,ellipse cover,#f0f9ff 0%,#c6eaff 100%);background:-ms-radial-gradient(center,ellipse cover,#f0f9ff 0%,#c6eaff 100%);background:radial-gradient(ellipse at center,#f0f9ff 0%,#c6eaff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f9ff',endColorstr='#c6eaff',GradientType=1);-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.73);box-shadow:0 2px 3px rgba(0,0,0,0.73)}
.website-spokesperson-examples h2{padding:0;color:#0073FF;margin:10px!important}
.video-player{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.video-player dl{padding:10px}
dt{color:#000;font-weight:bolder;font-size:16px;padding-top:10px;padding-bottom:0;text-shadow:0 1px 1px rgba(0,0,0,0.4)}
dd{padding-top:0;padding-bottom:2px;font-size:16px;text-shadow:0 1px 0 rgba(0,0,0,0.4)}
.example-column{width:100%;padding-top:10px}
.example-holder-web{width:33%;float:left;padding-left:10px;padding-right:10px;min-height:215px}
.example-holder-web img{max-width:100%}
.example-holder, .greenscreen-holder{width:33%;float:left;padding-left:10px;padding-right:10px}
.example-holder{min-height:170px}
.greenscreen-holder{min-height:150px}
.example-holder img, .greenscreen-holder img{width:100%}
.example-holder img,.box img, .example-holder-web img{-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.83);box-shadow:0 3px 3px rgba(0,0,0,0.83)}
.box-small{-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.3);box-shadow:0 1px 3px rgba(0,0,0,0.3)}
.example-column-green-screen{margin-top:20px}
#example-text{padding:4px 0 2px;text-align:center;color:#000;margin-bottom:10px;font-size:15px;text-align:center;font-weight:bolder;color:#000;font-size:16px;text-shadow:0 1px 1px rgba(0,0,0,0.7)}
#example-text a{text-decoration:none;color:#000}
#example-text a:hover{text-shadow:1px 1px 0 rgba(0,0,0,0.7)}
.example-prices{width:300px;height:270px;float:left}
.example-prices h4{font-size:230%;padding:0;margin:0}
.example-prices ul{margin-left:10px;color:#00a3ff}
.example-prices li{font-weight:700;padding-top:0;padding-bottom:5px;text-shadow:0 1px #000}
.example-prices h6{color:orange;font-size:480%;font-weight:bolder;margin:0;padding:0;float:right}
.example-prices h5{color:orange;font-size:340%;font-weight:bolder;font-variant:small-caps;text-align:center;padding:0;margin:0}
.example-prices h5 a{color:orange;text-decoration:none}
.vidHolder{padding:0!important;width:320px;text-align:center;height:370px}
.textHolder{text-align:center}
.why{max-width:250px}
.product{font-size:34px;font-weight:bold}
.results{color:#FFA500;font-weight:bolder;font-size:28px}
.benifits{font-size:20px;line-height:24px}
.large{font-size:72px}
.call a:link{text-align:center;font-size:48px;color:orange}
.video-banner{margin-left:auto;margin-right:auto;width:98.626%;padding-left:.1869%;padding-right:.1869%;max-width:1032px}
.example{
	border: medium solid #00A3FF;
	border-radius: 20px;
	margin-top:10px;
}
