/* Header and Navigation Styles */

/* Schedule Call Button Container */
.schedule-call-container {
    position: fixed;
    top: 75%;
    right: -1rem;
    width: 115px;
    height: 0px;
    text-align: right;
    z-index: 1000;
    margin-top: -15px;
}

/* Schedule Call Button */
#app-scheduling {
    transform: rotate(-90deg);
    display: block;
    text-align: center;
    width: 140px;
    height: 40px;
    padding: 5px 16px;
    background-color: rgb(26, 78, 122);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid rgb(231, 231, 231);
    border-left: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(231, 231, 231);
    border-top-color: rgb(231, 231, 231);
    border-radius: 6px;
}

/* Header Logo Responsive Image */
.navbar-brand img {
    max-width: 250px;
    height: auto;
}

/* Navbar Images - Horizontal Layout */
.navbar-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-images .nav-item {
    display: inline-block;
    margin: 0 4px;
    position: relative;
}

.navbar-images .nav-item a {
    display: block;
    text-align: center;
    text-decoration: none;
}