@charset "utf-8";
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.s3 > span {
    color: #F00;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 13pt;
    padding-left: 6pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 11pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 11pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 11pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 11pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 11pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 7pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 9pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 11pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 7pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 9pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 5pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 11pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 7pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 9pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 7pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > h1 {
    padding-top: 9pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features > p {
    padding-top: 7pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}
.features h3{text-align:left}
