.player{width:100%;display:inline-block}
.player:last-child{margin-right:0}
.video-top{margin-top:110px;text-align:center;padding-bottom:20px}
.video-top .list-inline{font-size:24px;margin:20px auto}
.player-list{position:relative;bottom:46px;margin:0 auto;height:40px;width:74%;padding:4px;background-color:rgba(0, 115, 255,0.7);border:thin solid #2C68B2;border-radius:16px;display:none}
.player-list .control{color:#FFF;min-width:24px;float:left}
.player-container{margin:0 auto;width:540px}
#duration,#spacer,#timeHolder{padding:2px 0}
#timeHolder{padding-right:5px;font-family:Arial, Helvetica, sans-serif}
.timeBar{position:absolute;top:0;left:0;width:0;height:100%;background:-webkit-linear-gradient(-45deg, #2C68B2,rgba(109,171,255,0.7),#2C68B2,rgba(109,171,255,0.7),#2C68B2,rgba(109,171,255,0.7),#2C68B2,rgba(109,171,255,0.7),#2C68B2);border-right:#0073FF medium solid}
#clicktoplay{position:relative;color: #0067E5;padding: 10px;right: auto;border: #0067E5 solid 2px;top: auto;bottom:100px;background-color:rgba(200,221,255,0.7);border-radius:20px;text-align:center}
#video-player{cursor:pointer}
.fa-volume-up, .fa-volume-off{margin-top:12px}
#muteBtn{margin-left:10px}
#fullscreen, #restartBtn{font-size:2.4em;margin-top:6px}
.progressBar{position:relative;height:10px;padding:4px 10px;background-color:rgb(255,255,255);top:10px;left:5px;width:120px}
#volumcontroller {
    height: 20px;
    width: 40px;
	margin:-6px 10px 0 -8px
}
#volumcontroller div{
	height:20px;
}
.volumecontrollerbar{
	border-left:1px solid #0073FF;
	float:right;
	width:3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	background-color: #FFF;
	cursor:pointer;
}.volumecontrollerbar:hover{
	background-color:#FFF !important;
}