@charset "utf-8";
/* CSS Document */
.faqContainer{
	width: 900px;
	margin: 0 auto;
	padding:0;
	font-size:16px;
}
.faqBox{
	margin-top:10px;
	height:320px;
	margin:5px auto;
	padding:10px;
	width:840px
}
#MyPlayer{
	float:left;
	padding:0px;
	margin:0px;
	background-color: #FFFFFF; 
}
#videoBox{
	z-index:0;
	background-color: #FFFFFF;
}
video{
	z-index:1;
}
.PlayerBar{
	margin-left:auto;
	margin-right:auto;
	margin-top:-2px;
	height:50px;
	width:154px
}
#Volume{
	float: left;
	z-index: 999;
	opacity: 1;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#PlayPauseBtn{
	float:left;
	margin-left:2px;
	z-index:999;
	opacity:1;
}
#RestartBtn{
	float:left;
	margin-left:2px;
	z-index:999;
	opacity:1;
}
.qaArea{
	height: inherit;
	padding: 10px;
	float: left;
	width: 460px;
	margin-left:20px;
	border-radius: 20px;
	border: medium solid #0073FF;
}
#faqHeader{
	font-size:200%;
	padding-bottom:12px;
	font-weight:bold;
}
#question{
	font-size: 130%;
	color: #333;
	margin-left: 15px;
	padding-bottom: 8px;
	-webkit-transition: all .5s ease-in 0s;
	-moz-transition: all .5s ease-in 0s;
	-ms-transition: all .5s ease-in 0s;
	-o-transition: all .5s ease-in 0s;
	transition: all .5s ease-in 0s;
}

#faqlist{
	margin-left: 40px;
	margin-top:10px;
	line-height: 20px;
	color: #000;
	font-weight:100;
 	list-style-type: none;
    }
#faqlist a{
	color: #000;
	font-weight: 100;
	text-decoration: none;
	-webkit-transition: all .5s ease-in-out .1s;
	-moz-transition: all .5s ease-in-out .1s;
	-ms-transition: all .5s ease-in-out .1s;
	-o-transition: all .5s ease-in-out .1s;
	transition: all .5s ease-in-out .1s;
}

#faqlist li
 {
	 background-image: url(../buttons/play-small.png);
	 background-repeat: no-repeat;
	 background-position:left; 
	 padding-left: 30px;
	 line-height:24px
 }
#answer {
	padding-left:10px;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
#answer:hover {
	-webkit-opacity: .8;
	opacity: .8;
}
#question:hover {
	-webkit-opacity: .8;
	opacity: .8;
}
#faqlist a:hover {
	-webkit-opacity: .8;
	opacity: .8;
}
#Volume:hover {
	-webkit-opacity: .8;
	opacity: .8;
}
#PlayPauseBtn:hover {
	-webkit-opacity: .8;
	opacity: .8;
}
#RestartBtn:hover {
	-webkit-opacity: .8;
	opacity: .8;
}