@charset "utf-8";
.special-holder{position: absolute;top:100px;bottom:auto;left: 56%;right: auto;transform: rotate(18deg);
  animation-duration: 1.5s;
  animation-delay: 1s;
	cursor: pointer;
}
@media only screen and (max-width: 1200px) {
	.special-holder{left:calc(20% - 164px);}
}