/************************************
------------CSS RESET----------------
************************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;	background: transparent;}
body {line-height: 1; }
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
:focus {outline: 0;}
table {	border-collapse: collapse;	border-spacing: 0;}

/*clearfix*/
.clearfix {display:block;}
.clearfix:after {content: ".";	display: block;	clear: both;visibility: hidden;line-height: 0;height: 0;}


/************************************
GENERAL STYLING
************************************/

body{
	background-color:#DEDBD3;
	color:#333;
	font: 12px/20px Helvetica,Arial,sans-serif;
}
h2{
	color:#555;
	font-size:2em;
	font-family:Verdana, Geneva, sans-serif;
	padding:10px 0px 10px 0px;
}
h3{
	color:#555;
	font-size:1.5em;
	font-weight:normal;
	padding:10px 0px 10px 0px;
	font-family:Verdana, Geneva, sans-serif;
}
h4{
color:#CC3300;
	font-size:1.2em;
	padding:10px 0px 10px 0px;
}


a{
text-decoration:none;
background:#33CCFF;
color:#fff;
padding:7px;
}

a:hover{
background:#33FFFF;
}
#header_wrapper{
	position:relative;
	text-align:center;
	width:100%;
	overflow:visible;
	margin-top:20px;
}


.big-quote
{
    font-size:32px;
    font-family: Courier New, Arial;
    font-style:italic;
	
	line-height:1em;
}



#header
{
	position:relative;
	width:915px;
	background: #fff no-repeat;
	margin:auto;
	text-align:left;
	padding:10px 20px;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-top:1px solid #aaa;

}
#content_wrapper{
	position:relative;
	text-align:center;
}
#content
{
	width:915px;
	margin:auto;
	text-align:left;
	position:relative;
	background: #fff;
	padding:10px 20px;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
}

#content_extra
{
	padding-top:1000px;
	width:800px;
	margin:auto;
	text-align:left;
}



.round-corners, .rounded {
	
    border-radius: 8px;
    -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
	
}
.flipped
{
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	
}
.selected
{
	opacity:1!important;
	filter:alpha(opacity=100)!important;
}
/************************************
MISC ELEMENTS
************************************/

.delimiter{
width:915px;
height:20px;
background:url('img/delimiter.png');
margin: 11px 0;
}
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

.new-feature{ position:absolute; right:0; top:0; background:transparent url('img/featuredesigner.png') no-repeat center center; width:180px; height:180px; margin:0; padding:0; z-index:3; }
.new-feature:hover{ text-decoration:none; background:transparent url('img/featuredesigner.png') no-repeat center center; }