@charset "utf-8";
html {
  font-size: 16px
}
body {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 800
}
header {
  border-bottom: thin solid rgba(178, 212, 255, 0.3);
  margin-bottom: 1rem
}
footer {
  text-align: center;
  font-size: .8rem;
  color: #00397F;
  font-weight: 400;
  padding: 22px 0;
  width: 100%;
  border-top: thin solid #0072FF;
  border-bottom: thin solid #0072FF
}
footer a {
  color: #00397F
}
footer a:hover {
  color: #fff
}
.footer-wrap {
  background: #6AF;
  background: -moz-radial-gradient(center, ellipse cover, #6AF 0%, #0072FF 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #6AF 0%, #0072FF 100%);
  background: radial-gradient(ellipse at center, #6AF 0%, #0072FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66AAFF', endColorstr='#0072FF', GradientType=1)
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 800;
  color: #0072FF;
  font-size: 2vw
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #6BCEFF
}
.current-page:hover {
  color: #0072FF !important
}
.current-page {
  color: #D1F0FF !important;
  cursor: default
}
.navbar-text, .navbar-brand {
  font-size: 3vw;
  color: orange !important;
  font-weight: 900
}
.navbar-text a, .navbar-brand a {
  color: orange !important
}
.bg-image {
  margin: 0;
  padding: 0 0 2rem;
  background: #0072FF
}
.bg-video {
  margin: 0;
  padding: 0 0 2rem;
  background: #FFF
}
.wrap {
  max-width: 960px;
  margin: 0 auto
}
.content-text {
  font-size: 1.2rem;
  color: #222;
  line-height: 1.3;
  text-align: justify;
  text-indent: 2rem
}
.content {
  background: #6AF
}
.content-top {
  background: orange;
  background: -moz-linear-gradient(top, orange 0%, #ffedcc 100%);
  background: -webkit-linear-gradient(top, orange 0%, #ffedcc 100%);
  background: linear-gradient(to bottom, orange 0%, #ffedcc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa500', endColorstr='#ffedcc', GradientType=0);
  color: #005BCC;
  padding: 1rem 0
}
a {
  color: #0072FF
}
a:hover {
  color: #6AF
}
.banner-text {
  height: 72px;
  margin: 0 auto;
  vertical-align: text-top;
  font-weight: 700;
  font-size: 2.3vw;
  color: #FFF;
  letter-spacing: -.03em;
  text-align: center
}
.stroke {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}
.banner-bottom-text {
  letter-spacing: .05em;
  font-weight: 800;
  font-size: 2.2vw;
  line-height: 1.3;
  text-align: center;
  padding: 2rem;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto
}
.banner-bottom-text a {
  color: #fff
}
.banner-bottom-text a:hover {
  color: #0072FF
}
.call-now {
  text-align: center
}
.fifty {
  max-width: 50%
}
.center {
  margin: 0 auto
}
#video-holder img {
  -webkit-box-shadow: 2px 6px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.3)
}
#get-a-quote {
  width: 340px;
  margin: 0 auto
}
.quote-top {
  background-color: #0050B2 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0073FF", endColorstr="#0050B2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0073FF), to(#0050B2));
  background-image: -moz-linear-gradient(top, #0073FF, #0050B2);
  background-image: -ms-linear-gradient(top, #0073FF, #0050B2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0073FF), color-stop(100%, #0050B2));
  background-image: -webkit-linear-gradient(top, #0073FF, #0050B2);
  background-image: -o-linear-gradient(top, #0073FF, #0050B2);
  background-image: linear-gradient(#0073FF, #0050B2);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-color: #6AF;
  border-width: 2px 2px 0;
  border-style: solid;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  color: #D1F0FF
}
.inputs #__vtigerWebForm {
  border: none
}
.inputs {
  padding: 1rem .5rem 0;
  border-color: #6AF;
  border-style: solid;
  border-width: 2px 2px 0;
  background: rgba(102, 170, 255, 0.5);
  width: 100%;
}
.inputs table{margin: 0;padding: 0;width: 100%}
.inputs input, .inputs textarea {
  border: solid 1px #0072FF;
  background: #fff;
  width: 100%;
  margin-bottom: 8px;
  padding-left: 2px
}
.inputs input {
  line-height: 1.5rem
}
.captcha-holder {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-left: 2px solid #6AF;
  border-right: 2px solid #6AF;
  background: rgba(102, 170, 255, 0.5)
}
.g-recaptcha {
  margin: 0 auto;
  width: 304px
}
.btn-holder {
  border-color: #6AF;
  border-style: solid;
  border-width: 0 2px 2px;
  background: rgba(102, 170, 255, 0.5);
  padding: .2rem 0 .6rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem
}
.btn-custom {
  -webkit-font-smoothing: antialiased;
  border-radius: 16px;
  margin: 4px auto 0;
  width: 240px;
  font-size: 2rem !important;
  font-weight: 700 !important;
  text-align: center;
  background-color: #0050B2 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0073FF", endColorstr="#0050B2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0073FF), to(#0050B2));
  background-image: -moz-linear-gradient(top, #0073FF, #0050B2);
  background-image: -ms-linear-gradient(top, #0073FF, #0050B2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0073FF), color-stop(100%, #0050B2));
  background-image: -webkit-linear-gradient(top, #0073FF, #0050B2);
  background-image: -o-linear-gradient(top, #0073FF, #0050B2);
  background-image: linear-gradient(#0073FF, #0050B2);
  border-color: #0050B2;
  color: #D1F0FF !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5)
}
.btn-custom:hover {
  background-color: hsl(201, 100%, 64%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaf7ff", endColorstr="#47beff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eaf7ff), to(#47beff));
  background-image: -moz-linear-gradient(top, #eaf7ff, #47beff);
  background-image: -ms-linear-gradient(top, #eaf7ff, #47beff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaf7ff), color-stop(100%, #47beff));
  background-image: -webkit-linear-gradient(top, #eaf7ff, #47beff);
  background-image: -o-linear-gradient(top, #eaf7ff, #47beff);
  background-image: linear-gradient(#eaf7ff, #47beff);
  border-color: #47beff #47beff hsl(201, 100%, 56%);
  color: #0050B2 !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  background-color: hsl(201, 100%, 64%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaf7ff", endColorstr="#47beff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eaf7ff), to(#47beff));
  background-image: -moz-linear-gradient(top, #eaf7ff, #47beff);
  background-image: -ms-linear-gradient(top, #eaf7ff, #47beff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaf7ff), color-stop(100%, #47beff));
  background-image: -webkit-linear-gradient(top, #eaf7ff, #47beff);
  background-image: -o-linear-gradient(top, #eaf7ff, #47beff);
  background-image: linear-gradient(#eaf7ff, #47beff);
  border-color: #47beff #47beff hsl(201, 100%, 56%);
  color: #0050B2 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5)
}
.card {
  border-color: #0072FF
}
.card a {
  color: #00397F
}
.card a:hover {
  color: #E5F0FF
}
.card-img-top {
  background: #0072FF;
  padding-bottom: 1px
}
.card-text {
  text-indent: 2rem
}
.card-header, .card-footer {
  background-color: #0072FF !important;
  background-repeat: repeat-x;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  color: #00397F;
  border-color: #0072FF
}
.card-footer {
  background-image: -khtml-gradient(linear, left top, left bottom, from(#B2D4FF), to(#0072FF));
  background-image: -moz-linear-gradient(top, #B2D4FF, #0072FF);
  background-image: -ms-linear-gradient(top, #B2D4FF, #0072FF);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B2D4FF), color-stop(100%, #0072FF));
  background-image: -webkit-linear-gradient(top, #B2D4FF, #0072FF);
  background-image: -o-linear-gradient(top, #B2D4FF, #0072FF);
  background-image: linear-gradient(#B2D4FF, #0072FF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#B2D4FF", endColorstr="#0072FF")
}
.card-header {
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0072FF), to(#B2D4FF));
  background-image: -moz-linear-gradient(top, #0072FF, #B2D4FF);
  background-image: -ms-linear-gradient(top, #0072FF, #B2D4FF);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0072FF), color-stop(100%, #B2D4FF));
  background-image: -webkit-linear-gradient(top, #0072FF, #B2D4FF);
  background-image: -o-linear-gradient(top, #0072FF, #B2D4FF);
  background-image: linear-gradient(#0072FF, #B2D4FF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0072FF", endColorstr="#B2D4FF");
  border-bottom-color: #B2D4FF
}
.alert-dark {
  background: #00397F;
  color: #fff;
  border-color: #0050B2
}
.text-orange {
  color: orange
}
.client {
  text-align: center
}
.testimonials p {
  text-indent: 2rem;
  font-style: italic;
  line-height: 1.2;
  font-size: 1.2vw
}
.testimonial h2 {
  font-size: 1.6vw
}
.caption {
  float: right;
  font-weight: 700;
  font-size: 1.4vw
}
.best {
  margin: 0 auto
}
.award {
  width: 75%;
  margin: 0 auto
}
textarea {
  width: 100%
}
.bd-blue {
  border: medium solid #549BFF;
  padding: .5rem;
  border-radius: .5rem
}
.bg-grey {
  background: #888
}
.text-custom {
  text-align: center;
  font-weight: 800;
  font-size: 3vw;
  line-height: 1;
  color: #0072FF
}
input, textarea {
  background: #D5EEFF
}
.examples {
  background: #00397F;
  padding: 1rem;
  border-radius: .5rem
}
.rss {
  text-align: center;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 1px 3px;
  background: #fff;
  border-radius: 4px
}
.rss:hover {
  color: #0072FF
}
.pre-loader {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000000;
  z-index: 99999999;
  opacity: 1;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s
}
.pre-loader div {
  text-indent: -9999em;
  top: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  margin: -25px auto 0;
  display: block;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid #111;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateY(50%);
  -webkit-animation: load9 1.1s infinite linear;
  animation: load9 1.1s infinite linear
}
.pre-loader div, .pre-loader div:after {
  border-radius: 50%;
  width: 40px;
  height: 40px
}
@-webkit-keyframes load9 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes load9 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@media screen and (min-width:1400px) {
  .banner-bottom-text {
    font-size: 32px
  }
  .banner-text {
    font-size: 32px
  }
  .nav-link {
    font-size: 28px
  }
  .testimonial h2 {
    font-size: 28px
  }
  .testimonials p {
    font-size: 22px
  }
}
.smallPlayBtn {
  height: 8rem;
  width: 8rem;
  font-size: 4rem;
  color: #fff;
  display: block;
  position: absolute;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  left: 50%;
  top: 45%;
  transform: translate(-45%, -50%);
  margin: auto;
  border-radius: 50%;
  border: 3px solid rgba(0, 163, 255, 0.7);
  background-color: rgba(29, 43, 97, 0.7);
  transition: all .5s ease
}
.smallPlayBtn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
.smallPlayBtn:hover {
  background-color: rgba(0, 163, 255, 0.7);
  border-color: rgba(29, 43, 97, 0.7)
}
@media (min-width: 1300px) {
  .smallPlayBtn {
    height: 4rem;
    width: 4rem;
    font-size: 2rem
  }
}
.poster {
  opacity: .9;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  position: relative;
  cursor: pointer;
  margin: auto
}