@charset "utf-8";
/*Website Talking Heads examples */
.exampleArea{width:98%;height:auto;padding:0;margin:0 auto;margin-top:10px;border-color:#6DABF5;border-style:solid;border-radius:10px}
.exampleTitle{position:inherit;font-weight:700;font-size:48px;text-align:center;margin:0;padding-bottom:16px;marginm:0;text-shadow:1px 1px 1px rgba(0,0,0,0.6);color:#0073ff}
.exampleTitle a{color:#0073FF}
.exampleTitle a:hover{text-shadow:0 0 1px rgba(0,0,0,0.6)}
.new-example-box{float:left;padding-left:4px;padding:3px 10px;width:33%;min-height:160px}
.new-example-box img{width:100%}
.new-example-box a{opacity:1}
.new-example-box a:hover{opacity:.9}
#new-exampleboxtext,.new-exampleboxtext{text-align:center;color:#000;font-size:16px;margin-bottom:8px;margin-top:4px;line-height:1.1em}
#new-exampleboxtext a,.new-exampleboxtext a{color:#000;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.7)}
#new-exampleboxtext a:hover,.new-exampleboxtext a:hover{text-shadow:1px 1px 0 rgba(0,0,0,0.4)}
.exampleSpacer{height:10px}
.exampleFooter{text-align:right;font-size:100%;padding-right:10px;padding-bottom:5px}
.exampleFooter a{text-align:right;font-size:18px;color:#6DABF5;text-decoration:none;text-shadow:0 1px 0 rgba(0,0,0,0.4)}
.exampleFooter a:hover{text-shadow:0 0 1px rgba(0,0,0,0.8)}
.powerpunch{text-align:center;margin:0;padding:0;font-family:Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif}
#powerpunchsales{font-weight:bolder;color:orange;font-size:220%;margin:0;padding:0;text-shadow:0 1px 1px rgba(0,32,90,0.60)}
#powerpunchseo{color:#00a3ff;font-weight:700;font-size:18px;margin:0;padding:0;text-shadow:0 1px 0 rgba(0,0,0,0.6)}
.vp h1{position:inherit;font-weight:700;font-size:290%;text-align:center;margin:0;text-shadow:1px 1px 1px rgba(0,0,0,0.6);color:#FFA319;padding:0;margin-top:10px;margin-right:10px;margin-left:10px;margin-bottom:10px}
.vp h3{color:orange;font-weight:bolder;text-shadow:0 1px 0 rgba(0,0,0,0.9);text-align:center;margin:5px}
.vp h6{color:orange;font-size:64px;font-weight:bolder;text-shadow:1px 2px 1px rgba(0,0,0,0.7);text-align:center;padding:0}
.vp ol{padding-top:10px;padding-left:30px;font-size:18px;font-weight:700}
#smallScript{color:#0073ff;font-weight:100;font-size:x-small;vertical-align:top;text-shadow:0 0 1px rgba(0,0,0,0.23);float:left}
#SpecialTop{font-size:180%;color:#FF9100;text-align:center;text-shadow:0px 1px 0 rgba(0,0,0,0.6);margin:0 auto;padding:0;word-wrap: break-word}
.specials{padding: 20px}
dt{color:#000;font-weight:bolder;font-size:16px;padding-top:10px;padding-bottom:0;}
dd{padding-top:0;padding-bottom:2px;font-size:16px}
.example-column{width:100%;padding-top:10px}
.example-holder{width:33%;float:left;padding-left:10px;padding-right:10px}
.example-holder{min-height:170px}
#example-text,.example-text{padding:4px 0 2px;text-align:center;color:#000;margin-bottom:10px;margin-top:4px;font-size:18px}
#example-text a,.example-text a{text-decoration:none;color:#697580}
#example-text a:hover,.example-text a:hover{text-shadow:1px 1px 0 rgba(0,0,0,0.7)}
.textHolder{text-align:center;margin-top:60px}
.why{max-width:250px}
.product{font-size:34px;font-weight:700}
.results{color:orange;font-weight:bolder;font-size:28px}
.benifits{font-size:20px;line-height:24px}
.call a:link{text-align:center;font-size:48px;color:orange}
#example-text a{color:#000}
#example-text a:hover{font-weight:bolder}
.exampleFooter{text-align:right;font-size:100%;padding-right:10px;padding-bottom:5px}
.exampleFooter a{text-align:right;font-size:18px;color:#0073ff}
.exampleFooter a:hover{text-decoration:underline;color:#00a3ff}
.example{border:2px solid rgba(120,140,255,1.00);border-radius:10px;margin-bottom:10px;padding-top:10px;width:98%;background:#FFF}
.example-list{height:inherit;margin:0 auto 6px;padding:0}
.example h2{font-size:30px;line-height:30px;font-weight:700;margin-bottom:6px;margin-top:4px}
.example-list ul{margin:0;text-shadow:0 1px rgba(0,0,0,0.66);margin-top:5px;font-weight:700;font-size:1.2em;line-height:1.2em}
.examples{margin-left:10px}
.examplesAnimation{width:96%;margin:-4px}
.features{padding:20px;background:#d6f9ff;background:-moz-radial-gradient(center,ellipse cover,#d6f9ff 0%,#77d2f1 99%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#d6f9ff),color-stop(99%,#77d2f1));background:-webkit-radial-gradient(center,ellipse cover,#d6f9ff 0%,#77d2f1 99%);background:-o-radial-gradient(center,ellipse cover,#d6f9ff 0%,#77d2f1 99%);background:-ms-radial-gradient(center,ellipse cover,#d6f9ff 0%,#77d2f1 99%);background:radial-gradient(ellipse at center,#d6f9ff 0%,#77d2f1 99%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6f9ff',endColorstr='#77d2f1',GradientType=1)}
.videoHolder{width: 320px;margin: 0 auto}
.wthvideo-prices{height:320px}
.special-img{max-width:228px;margin:0 auto;background:transparent}
#mvp2map{width:960px}
#mvp2mapleft{float:left;padding:0}
#mvp2mapright{width:480px;float:left;padding:0;margin:0}
#containermvp2{background:#FFF;margin:0 auto -10px;text-align:left;background-color:#FFF;padding:0;color:#000;width:940px}
.special-img{max-width:228px;margin:0 auto;background:transparent}
.img-choose{margin: 10px auto}
.alert-grey{background-color: #B3C8DB;color:black;border: thin solid #B8B8B8}
.exaple-button{width: 40%;margin: 0 auto;border-radius: 20px;border-bottom-color: #85A6C5}
.exaple-button h3{margin: 10px auto}
.media-left,.media-right,.media-body{width: 50%}
.media-object{max-width: 100%}
.media-body{font-size: 18px;padding-left: 10px}
.media{margin-top:30px; border-bottom: thin solid #1981FF;padding-bottom: 20px}
.media:first-child {border-top:  thin solid #1981FF;padding-top: 20px}
#form-holder{margin-bottom: 10px}
.best-explainer{width: 25%}