@charset "utf-8";
.thumb-wrapper {
  position: absolute;
  top: 45%;
  bottom: auto;
  left: 50%;
  margin-left: -16px;
  display: inline-block;
  width: 32px;
  height: 32px
}
.thumb-wrapper:before {
  content: "\f01d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  position: absolute;
  color: #0073FF;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto
}
.actor-row {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  flex-wrap: wrap;
  display: flex
}
.actor {
  text-align: center;
  width: 160px;
  height: 220px
}
.fifty {
  max-width: 50%;
  padding-right: 1rem
}
.footer {
  padding: 2rem
}
.bg-gradient-mine {
  border-color: #256ABF;
  background-repeat: repeat-x;
  background: #6AF;
  background: -moz-linear-gradient(top, #6AF 0%, #256ABF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6AF), color-stop(100%, #256ABF));
  background: -webkit-linear-gradient(top, #6AF 0%, #256ABF 100%);
  background: -o-linear-gradient(top, #6AF 0%, #256ABF 100%);
  background: -ms-linear-gradient(top, #6AF 0%, #256ABF 100%);
  background: linear-gradient(to bottom, #6AF 0%, #256ABF 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom', GradientType=0)
}
.middle .card-header, .middle .card-footer {
  text-transform: capitalize;
  text-align: center;
  color: #fff
}
.card-block {
  padding: .5rem;
  text-align: justify;
  line-height: 1.2
}
.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px)
}
.card-footer a {
  color: #E5F0FF
}
.card-footer a:hover {
  color: #B2D4FF
}
.card-top {
  align-items: center
}
.card-title {
  font-size: 1.2rem
}
.card-primary {
  border-color: #00A3FF
}
.card > hr {
  margin-right: 0;
  margin-left: 0
}
.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}
.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  border: thin solid #549BFF
}
.card-title {
  margin-bottom: .75rem
}
.card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0
}
.card-text:last-child {
  margin-bottom: 0
}
.card-link:hover {
  text-decoration: none
}
.card-link + .card-link {
  margin-left: 1.25rem
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}
.card-header + .list-group .list-group-item:first-child {
  border-top: 0
}
.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px)
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px)
}
.sup {
  font-size: .6rem;
  vertical-align: super
}
.spokespeople .nav-item {
  background-image: none;
  text-align: center;
  font-size: 1.5rem
}
.spokespeople .disabled {
  color: #000;
  cursor: not-allowed
}
.navbar-nav .spokespeople .nav-link {
  color: #fff;
  padding: 0 1rem;
  text-decoration: underline
}
.spokespeople .disabled:hover {
  text-decoration: none
}
.poster {
  opacity: .9;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  position: relative;
  cursor: pointer
}
.poster:hover {
  opacity: 1
}
.poster img {
  max-width: 160px;
  max-height: 180px
}
.btn-spokesperson {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E5F0FF;
  border: thin solid #00A3FF;
  color: #00A3FF;
  border-radius: 50%;
  opacity: .8;
  transition: all .5s
}
.btn-spokesperson:hover {
  background-color: #00A3FF;
  border-color: #E5F0FF;
  opacity: 1;
  color: #E5F0FF
}
.btn-spokesperson:before {
  position: absolute;
  top: 50%;
  left: 53%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f04b";
  font-size: 1rem
}
.spokesperson {
  height: 180px;
  width: 160px;
  flex-wrap: wrap;
  padding: .25rem .25rem 0
}
.modal-spokesperson {
  width: 960px;
  margin: 0 auto;
  padding: 0 !important
}
@media (max-width: 1199.98px) {
  .modal-spokesperson {
    width: 90%
  }
}
.modal-spokesperson .modal-footer, .modal-spokesperson .modal-header {
  width: 100%;
  margin: 0 1px
}
.modal-spokesperson #form {
  position: absolute;
  display: flex;
  align-self: center;
  top: 50%;
  width: 320px;
  background: rgba(0, 163, 255, 0.5);
  border: #00A3FF thin solid;
  border-radius: .25rem;
  color: #19477F
}
.modal-spokesperson #form input {
  padding-left: 4px
}
.modal-spokesperson #form .holder {
  padding: .5rem
}
.modal.show .modal-dialog-spokesperson {
  transform: translate(0, 0)
}
.modal.fade .modal-dialog-spokesperson {
  transition: transform .3s ease-out;
  transform: translate(0, -25%)
}
.modal-dialog-spokesperson {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  top: 20%;
}
.modal-dialog-spokesperson video{
	overflow: hidden;
}
@media (min-width: 576px) {
  .modal-dialog-spokesperson {
    max-width: 960px;
  }
}
#contactClose {
  line-height: .5
}
.no-js #loader {
  display: none
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0
}
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/images/preloader.gif) center no-repeat #fff
}
#show-more {
  cursor: pointer
}
#spokespeople .poster {
  background: transparent
}
.small-caps {
  font-family: 'open-sans-condensed', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.5px;
}