@charset "utf-8";
html { font-size: 16px }
body { font-family: acumin-pro, sans-serif; font-weight: 400; font-style: normal; overflow-x: hidden; }
h1, h2, h3, h4, h5, h6 { font-weight: 800; }
header { border-bottom: thin solid rgba(255, 112, 98,0.3) }
.navbar-light .navbar-nav .nav-link { font-weight: 300; color: #0072FF; font-size: 2vw }
.navbar-light .navbar-nav .nav-link:hover { color: #6BCEFF;}
.current-page:hover { color: #FFA500!important }
.current-page { color: #FFA500!important; cursor: default }
.navbar-text, .navbar-brand { font-size: 3vw; color: #FFA500!important; font-weight: 900 }
.navbar-text a, .navbar-brand a { color: #FFA500!important }
.bg-image { margin: 0; padding: 0 0 2rem; background: #FFA500; }
.bg-video { margin: 0; padding: 0 0 2rem; background: #FFF; }
.wrap { max-width: 960px; margin: 0 auto; }
.content-text { font-size: 1.2rem; color: #222; line-height: 1.3; text-align: justify; text-indent: 2rem }
.content { background: #FFEDCC; }
.content-top { background: #ffa500; background: -moz-linear-gradient(top, #ffa500 0%, #ffedcc 100%); background: -webkit-linear-gradient(top, #ffa500 0%, #ffedcc 100%); background: linear-gradient(to bottom, #ffa500 0%, #ffedcc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa500', endColorstr='#ffedcc', GradientType=0 );
color: #401C19; padding: 1rem 0 }
a { color: #FFA500 }
a:hover { color: #402900 }
.footer-wrap { font-weight: 800;padding: 22px 0; width: 100%; background: #ffc04c; background: -moz-radial-gradient(center, ellipse cover, #ffc04c 0%, #ffa500 100%); background: -webkit-radial-gradient(center, ellipse cover, #ffc04c 0%, #ffa500 100%); background: radial-gradient(ellipse at center, #ffc04c 0%, #ffa500 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc04c', endColorstr='#ffa500', GradientType=1 )
}
footer { width: 960px; margin: 0 auto; text-align: center; font-size: 0.8rem; color: #401C19; }
footer a { color: #401C19; }
footer a:hover { color: #ffffff; }
.banner-text { height: 72px; margin: 0 auto; vertical-align: text-top; font-weight: bold; font-size: 2.5vw; color: #222222; line-height: 72px; letter-spacing: -0.03em; text-align: center }
.banner-bottom-text { font-weight: bold; font-size: 3vw; line-height: 1; text-align: center; margin: 0 auto; padding: 1rem 0;max-width: 900px;margin: 0 auto }
.call-now { text-align: center }
.fifty { max-width: 50%; }
.center { margin: 0 auto }
#video-holder img { -webkit-box-shadow: 2px 6px 2px rgba(0,0,0,0.3); box-shadow: 1px 4px 2px rgba(0,0,0,0.3); }
.btn-holder, .captcha-holder, .inputs, .quote-top { -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.3); box-shadow: 1px 2px 2px rgba(0,0,0,0.3); }
.quote-top { background-color: #0050B2 !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0073FF", endColorstr="#0050B2");
background-image: -khtml-gradient(linear, left top, left bottom, from(#0073FF), to(#0050B2)); background-image: -moz-linear-gradient(top, #0073FF, #0050B2); background-image: -ms-linear-gradient(top, #0073FF, #0050B2); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0073FF), color-stop(100%, #0050B2)); background-image: -webkit-linear-gradient(top, #0073FF, #0050B2); background-image: -o-linear-gradient(top, #0073FF, #0050B2); background-image: linear-gradient(#0073FF, #0050B2); border-color: #BF7B00; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); -webkit-font-smoothing: antialiased; border-top-left-radius: .5rem; border-top-right-radius: .5rem; border: 2px solid #0050B2; font-weight: 700; text-align: center; font-size: 2rem; color: #D1F0FF }
.inputs #__vtigerWebForm { border: none }
.inputs { padding: 8px 20px 0 20px; border-left: 2px solid #FFEDCC; border-right: 2px solid #FFEDCC; background: #FFEDCC }
.inputs input, .inputs textarea { border: solid 1px #FFC04C; background: white; width: 100%; margin-bottom: 8px; padding-left: 2px }
.inputs input { line-height: 1.5rem }
.captcha-holder { max-width: 100%; margin: 0 auto; overflow: hidden; border-left: 2px solid #FFEDCC; border-right: 2px solid #FFEDCC; background: #FFEDCC; }
.g-recaptcha { margin: 0 auto; width: 304px }
.btn-holder { border-color: #FFEDCC; border-style: solid; border-width: 0 2px 2px 2px; background: #FFEDCC; padding: .2rem 0 .6rem; border-bottom-left-radius: .5rem; border-bottom-right-radius: .5rem }
.btn-custom { -webkit-font-smoothing: antialiased; border-radius: 16px; margin: 4px auto 0; width: 240px; font-size: 2rem!important; font-weight: 700!important; text-align: center; background-color: #0050B2!important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0073FF", endColorstr="#0050B2");
background-image: -khtml-gradient(linear, left top, left bottom, from(#0073FF), to(#0050B2)); background-image: -moz-linear-gradient(top, #0073FF, #0050B2); background-image: -ms-linear-gradient(top, #0073FF, #0050B2); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0073FF), color-stop(100%, #0050B2)); background-image: -webkit-linear-gradient(top, #0073FF, #0050B2); background-image: -o-linear-gradient(top, #0073FF, #0050B2); background-image: linear-gradient(#0073FF, #0050B2); border-color: #0050B2; color: #D1F0FF !important; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }
.btn-custom:hover { background-color: hsl(201, 100%, 64%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaf7ff", endColorstr="#47beff");
background-image: -khtml-gradient(linear, left top, left bottom, from(#eaf7ff), to(#47beff)); background-image: -moz-linear-gradient(top, #eaf7ff, #47beff); background-image: -ms-linear-gradient(top, #eaf7ff, #47beff); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaf7ff), color-stop(100%, #47beff)); background-image: -webkit-linear-gradient(top, #eaf7ff, #47beff); background-image: -o-linear-gradient(top, #eaf7ff, #47beff); background-image: linear-gradient(#eaf7ff, #47beff); border-color: #47beff #47beff hsl(201, 100%, 56%); color: #0050B2 !important; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }
.btn-custom:hover { background-color: hsl(201, 100%, 64%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaf7ff", endColorstr="#47beff");
background-image: -khtml-gradient(linear, left top, left bottom, from(#eaf7ff), to(#47beff)); background-image: -moz-linear-gradient(top, #eaf7ff, #47beff); background-image: -ms-linear-gradient(top, #eaf7ff, #47beff); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaf7ff), color-stop(100%, #47beff)); background-image: -webkit-linear-gradient(top, #eaf7ff, #47beff); background-image: -o-linear-gradient(top, #eaf7ff, #47beff); background-image: linear-gradient(#eaf7ff, #47beff); border-color: #47beff #47beff hsl(201, 100%, 56%); color: #0050B2 !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }
.client { text-align: center }
.testimonials p { text-indent: 2rem; font-style: italic; line-height: 1.2; font-size: 1.2vw }
.testimonial h2{font-size: 1.6vw}
.caption { float: right; font-weight: bold; font-size: 1.4vw }
.best { margin: 0 auto }
.award { width: 75%; margin: 0 auto }
textarea { width: 100% }
.bd-blue { border: medium solid #549BFF; padding: .5rem; border-radius: .5rem }
.bg-grey { background: #888888 }
.custom { text-align: center; font-weight: 800 }
input, textarea { background: #D5EEFF }
.card-text{text-indent: 2rem}
.card-header,.card-footer{background-color: #FFA500 !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEDCC", endColorstr="#FFA500");
background-image: -khtml-gradient(linear, left top, left bottom, from(#FFEDCC), to(#FFA500)); background-image: -moz-linear-gradient(top, #FFEDCC, #FFA500); background-image: -ms-linear-gradient(top, #FFEDCC, #FFA500); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFEDCC), color-stop(100%, #FFA500)); background-image: -webkit-linear-gradient(top, #FFEDCC, #FFA500); background-image: -o-linear-gradient(top, #FFEDCC, #FFA500); background-image: linear-gradient(#FFEDCC, #FFA500); border-color: #BF7B00; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); -webkit-font-smoothing: antialiased; font-weight: 700; text-align: center; font-size: 2rem; color: #402900;border-bottom-color: #FFC04C;}
.card {border-color: #FFC04C}
.card-img-top{background: #FFC04C;padding-bottom: 1px}
.card a {color:#7F5200}
.card a:hover{color:#CC8400}
.examples{background:#FFE4B3;padding: 1rem;border-radius: .5rem}
#get-a-quote { max-width: 340px; margin: .5rem auto 0 }
@media screen and (min-width:1400px) {
.banner-bottom-text { font-size: 32px }
.banner-text { font-size: 32px }
.nav-link { font-size: 28px }
#get-a-quote { max-width: 340px; float: left }
.testimonial h2 { font-size: 28px }
.testimonials p { font-size: 22px }
}

@media screen and (max-width:1200px) {
}

@media screen and (max-width:1000px) {
#get-a-quote { margin-top: 50px }
}
